<div class="modal d-block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">New Auth</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class='row'>
                <div class='col-6'>
                    Role:
                </div>
                <div class='col-6'>
                    <select #s (change)='selectRole(s.value)'>
                        <option *ngFor='let role of roles' [value]='role.id' [selected]="role.id == roleSelect">
                                {{role.name}}
                        </option>
                    </select>
                </div>
                
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)='save()'>Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)='close()'>Close</button>
        </div>
        </div>
    </div>
</div>