
<div *ngFor='let item of tree' class='pl-3'>
  <tree [item]='item' 
  [itemSelected] = 'itemSelected'
  (selectItem)='selectItemHandle($event)'></tree>
</div>
<span></span>
<div *ngFor='let item of tree' class='pl-3'>
  <tree [item]='item' 
  [itemSelected] = 'itemSelected'
  [settings]='settings'
  (selectItem)='selectItemHandle($event)'></tree>
</div>

<span></span>

<tree [item]='tree'
  [itemSelected] = 'itemSelected'
  [settings]='settings'
  (selectItem)='selectItemHandle($event)'
></tree>

<button (click)='cofirm()'>Confirm</button>



