





.item-parent {
  display:flex;
  align-items: center;
  position:relative;
}

.fa {
  width: 20px;
  font-size: 1.3em;
  margin-top: 3px;
}

.fa ~ label {
  display: block;
  margin-bottom:0;
  position:relative;
  &:after {
    width:100%;
    display:none;
    content: '';
    height:2px;
    position:absolute;
    bottom:0px;
    left: 0;
    background-color:black;
  }
  &:hover:after {
    display:block;
  }
  &.selected:after {
    display:block;
  }
}

.item-children {
  padding-left:30px;
}