
<div class='content-container'>
    <div class='table-wrapper'>
        <h1>User List</h1>
        <my-table  [cols]="userCols" [rows]="userRows"></my-table>
    </div>
    <div class='row'>
        <div class='col-6'>
            <div class='table-wrapper'>
                <h1>Role List</h1>
                <my-table  [cols]="roleCols" [rows]="roleRows" >
                </my-table>
            </div>
        </div>
        <div class='col-6'>
            <div class='table-wrapper'>
                <div class='d-flex align-items-center'>
                    <span class='ft-18 text-primary'>Auth List</span>
                    <a class='btn btn-primary' (click)="showNewAuthModel()">New</a>
                    <a class='btn btn-primary' (click)="saveRoleAuth()">Save Role Auth</a>
                </div>
                <my-table  [cols]="authCols" [rows]="authRows" [isEdit]='authEdit' [selected]='authSelected'>
                </my-table>
            </div>
        </div>
    </div>
    <auth-new-modal  
    *ngIf='authNewDisplay'  
    (closeModal)="closeAuthModal($event)" 
    (saveAuth) = 'saveAuth($event)'
    ></auth-new-modal>
    <user-role-modal
    *ngIf='userRoleDisplay'
    [roles] = 'roleRows'  
    [roleSelect]= 'userRoleSelect'
    (closeModal)="closeUserRoleModal($event)" 
    (saveUserRole)='saveUserRole($event)'
    >
    </user-role-modal>
</div>